/* IMPOSTAZIONI GENERALI */
body{
    background-image:url(../img/sfondo.png);
    width: 100%;
    
}
h3{
    text-align: center;
    font-size: 1.3em;
}
h1{
    font-size: 3em;
}
h2{
   
    font-size: 1.7em;
}
p,li{
    font-size: 0.9em;
}
/* HEADER */
header{
width: 300px;
    padding: 30px;
    background-color: teal;
 flex-direction: column;  
 align-items: center;
    margin: 0 auto; 
    text-align: center;
    color: white;
    font-size:smaller ;
 margin-top: 10px;
}
.logo{
    margin: 0 auto;
    width: 70%;
}
/* MAIN */
main{
    width: 300px;
    height: 1150px;
    padding: 30px;
    background-color: white;
 flex-direction: column;  
    margin: 0 auto; 
    text-align: left;
    font-size: medium;
   
 
 margin-top: 10px;
}

/* ELEMENTI NEL MAIN - ARTICLE */
.fucsia{
  color: mediumvioletred;
}

i{
    width: 30em;
    flex-direction: row;
}
.grigio{color: gray;} 
.input{
    background-color: gray;
    padding: 5%;
}
iframe{
    align-items: center;
}
/* TABELLE */
.table{
    border: 1px solid gray;
    font-size: large;
}
#table{
    border: 2px solid gray;
    padding: 50px;

}
caption {
    font-weight: bold;
    font-style: italic;
}
thead tr {
    background-color: #3f6bca;
    color: #ffffff;
}
th, td {
    padding: 12px 15px;
    vertical-align: bottom;
    text-align: center;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3f6bca;
}
/* thead{
    background-color: blue;
} */
caption{
    text-align: center;
}

/* FORM */
form{
    background-color: rgb(212, 212, 212);
    padding: 15px;
    font-size: 0.8em;
  
}
/* ELEMENTI NELL' ASIDE */
aside{
    width: 300px;
    height: 300px;
    padding: 30px;
    background-color: white;
 flex-direction: column;  
    margin: 0 auto; 
    text-align: left;
    font-size: medium;
}


/* FOOTER */
footer{
    width: 300px;
  
    padding: 30px;
    background-color: white;
    
 flex-direction: column;  
    margin: 0 auto; 
    text-align: center;
    font-size: medium;
}
.footer{
    background-color: teal;
    padding: 20px;
    color: white;
}
footer a{
    color: rgb(240, 30, 240);
}
a{
    color:rgba(39, 187, 236, 0.89) ;
}
.Articoli{
    background-color: rgb(212, 212, 212);
    padding: 20px;
    margin-bottom: 10px;
}
.Articoli a{
color: rgba(39, 187, 236, 0.89);
}
.novità{
    background-color: gray;
}
input{
    border-bottom: dotted 1px
}