/* IMPOSTAZIONI GENERALI */
body{
    background-image:url(../img/sfondo.png);
    
}
h3{
    text-align: center;
}
/* HEADER */
header{
width: 270px;
    height: 200px;
    padding: 30px;
    background-color: teal;
 flex-direction: column;  
 align-items: center;
    margin: 0 auto; 
    text-align: center;
    color: white;
    font-size:smaller ;
 margin-top: 10px;
}
.logo{
    margin: 0 auto;
    width: 70%;
}
/* MAIN */
main{
    width: 270px;
    height: 1150px;
    padding: 30px;
    background-color: white;
 flex-direction: column;  
    margin: 0 auto; 
    text-align: left;
    font-size: medium;
   
 
 margin-top: 10px;
}

/* ELEMENTI NEL MAIN - ARTICLE */
.fucsia{
  color: mediumvioletred;
}
h2{
   
    font-size: 2em;
}
i{
    width: 30em;
    flex-direction: row;
}
.grigio{color: gray;} 
.input{
    background-color: gray;
    padding: 5%;
}
iframe{
    
}
/* TABELLE */
.table{
    border: 1px solid gray;
    
}
thead{
    background-color: blue;
}

/* FORM */
form{
    background-color: gray;
    padding: 20px; 
   
    height: 250px;
}
/* ELEMENTI NELL' ASIDE */
aside{
    width: 270px;
    height: 350px;
    padding: 30px;
    background-color: white;
 flex-direction: column;  
    margin: 0 auto; 
    text-align: left;
    font-size: medium;
}


/* FOOTER */
footer{
    width: 270px;
    height: 240px;
    padding: 30px;
    background-color: white;
    
 flex-direction: column;  
    margin: 0 auto; 
    text-align: left;
    font-size: medium;
}
.footer{
    background-color: teal;
    padding: 20px;
}
.Articoli{
    background-color: gray;
    padding: 20px;
    margin-bottom: 10px;
}